.App {
  text-align: center;
}

.App-logo {
  height: 6em;
  pointer-events: none;
  margin-top: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7.3s linear;
  }
}

.App-text-logo {
  font-size: xx-large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  color: white;
}
.App-form {
  margin-top: 1.2em;  
}
.App-form-group{
  width: 20em;
  height: 3em;
}
.App-form-groupC{
  width: 11em;
}

.App-form-control{
  border-radius:15em;
  height: 3em;
}

.App-button-login {
  margin-top: 2em;
  height: 3em;
  width: 100%;  
}

.App-text-button {
  font-size: 1.4em;
  font-weight: bold;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
